body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table thead th {
  padding: 5px;
  font-size: 15px;
}

table td {
  padding: 5px;
  text-align: center;
}

/* 
form * {
  display: flex;
  padding: 4px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
} */

label {
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
}

button {
  margin: 5px;
  border-radius: 50%;
  background-color: #b8c0c2;
}

section div:nth-child(even) {
  font-weight: bold;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}