.details {
display: flex;
align-items: center;
justify-content: left;
}

h1 {
  justify-content: center;
}

#add-ticket-form {
  padding: 5px;
  border-radius: 5px;
  align-items: flex-end;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
}
